<form class="pic-code-form">

  <div style="display: flex; align-items: center;">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="pin" style="margin-bottom: 18px;"></mat-icon>
    <h1 style="font-size: 22px; margin-left: 10px;">Inserisci il codice visualizzato sul dispositivo</h1>
  </div>

  <form #registerform="ngForm" (ngSubmit)="onSubmit(registerform)">
    <mat-form-field appearance="fill" class="example-full-width">
      <input matInput type="name" maxlength="5" placeholder="Ex. 94105" name='name' required ngModel>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!registerform.valid">Invia</button>
  </form>

</form>

<form class="backend-code-form">
  <div style="display: flex; align-items: center;">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="key" style="margin-bottom: 18px;"></mat-icon>
    <h1 style="font-size: 22px; margin-left: 10px;">Inserisci il codice sul dispositivo per accedere</h1>
  </div>

  <mat-card class="example-full-width-card">    <container-element [ngSwitch]="accessPassword">
      <mat-card-content *ngSwitchCase="-1">Password per accedere</mat-card-content>
      <mat-card-content *ngSwitchCase="0">Non sei autorizzato ad accedere</mat-card-content>
      <mat-card-content *ngSwitchDefault>{{accessPassword}}</mat-card-content>
    </container-element>
  </mat-card>

</form>
