<div class="c-heading text-center">
  <div class="c-heading__middle">
    <h1 class="heading-3 text-uppercase">IoLocks</h1>
  </div>
  <div class="c-heading__top">
    <h2 class="text-default">facilitates your accesses</h2>
  </div>
</div>

<div class="image-container">
  <img src="https://images.unsplash.com/photo-1591123120675-6f7f1aae0e5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" alt="Polo universitario">
</div>

<mat-toolbar color="primary">
  <span>IoLock S.R.L.</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
</mat-toolbar>
